// app global css in SCSS form
.bg-image {
  background-image: url('https://wallpapers.com/images/featured/4k-blanco-i308ljad82204626.jpg');
  background-size: cover;
  width: 100%;
}
.logo {
  width: 16%;
  margin-bottom: 20px;
}
